

<h3 class="ui center aligned medium icon header">
  Welcome to Message-me app
  <i class="circular power off green icon"></i>
  <i class=""></i>
  <p>Log in to continue</p>
</h3>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="password">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui green submit button">Login</div>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui green big button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>