<h2 class="ui center aligned medium icon header">
  <i class="circular inverted heart green icon"></i>
  Friends
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">

      <div class="ui content">
        <div class="ui feed" id="message-container">
          <%= render 'messages' %>
        </div>
      </div>

      <div class="extra content">

      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
